body {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #f4f4f4;
}

a {
	text-decoration: none;
}
#topbarBackground{
	background-color: #e3e4e5;
}
#topbar {
	background-color: #e3e4e5;
	margin: -15px;
	height: 30px;
	width: 1190px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	line-height: normal;
	vertical-align: middle;
}

#rightMaue {
	text-align: right;
}

ul {
	list-style: none;
	margin: 0;
	height: 30px;
	display: flex;
	justify-content: right;
	align-items: center;
}

li {
	margin-left: 5px;
	margin-right: 5px;
	display: flex;
	align-items: center;
}

li a {
	font-size: 12px;
	vertical-align: middle;
}
.arrow{
	display: inline-block;
	transform: rotate(-90deg);
	font-size: 10px;
	color: #999999;
}
li.spacer {
	color: #999999;
	border-left: 1px solid #999999;
	line-height: 1px;
	height: 10px;
	vertical-align: middle;
	/* margin-top: 10px; */
}

.iconfont {
	position: absolute;
	right: 5px;
	top: 10px;
	width: 12px;
	height: 12px;
	line-height: 12px;

}

a:link {
	color: #999999;
}
a.red {
	color: red;
}
a:visited {
	color: #999999;
}

a:hover {
	color: red;
}