* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
	padding: 0;
	border: 0;
	width: 100%;
	height: 100%;
	background-color: #f4f4f4;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	/* text-align: center; */
}

a {
	text-decoration: none;
}

#topbarBackground {
	background-color: #e3e4e5;
	width: 100%;
}

#location {
	height: 31px;
}

#topbar {
	background-color: #e3e4e5;
	height: 31px;
	line-height: 31px;
	width: 1190px;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	/* display: flex; */
	/* align-items: center; */
	/* text-align: right; */
}

#location {
	width: 60px;
	float: left;
	justify-content: center;
	font-size: 12px;
	margin: 0;
	padding: 0;
	height: 30px;


}

#locationbox {
	position: relative;
	z-index: 30;
	display: flex;
	align-items: center;
	justify-content: center;
}

#adressdropdown {
	position: relative;
	left: 0px;
	top: 0px;
	z-index: 29;
	width: 322px;
	height: 333px;
	/* border: 1px solid #ccc;
	background-color: #fff; */

	box-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
	display: none;
}

#location:hover #locationbox,
#adressdropdown {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	/* border-block-color: #ffffff; */
	/* margin: -1px; */
	/* position: relative; */
}

#location:hover #adressdropdown {
	background-color: #fff;
	/* margin-top: -1px; */
	display: block;
}

#location:hover #locationbox {
	margin-top: -1px;
	border-bottom-color: #ffffff;
	margin-bottom: -1px;
}

#rightmenu {
	float: right;
	width: 7;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-right: 8px;
	height: 31px;
	display: flex;
	justify-content: right;
	align-items: center;
}

li {
	margin-left: 6.75px;
	margin-right: 6.75px;
	display: flex;
	align-items: center;
}

#login {
	text-overflow: ellipsis;
}

#topbar a {
	font-size: 12px;
	color: #999999;
}

#topbar a:hover {
	color: red;
}

.arrow {
	display: inline-block;
	transform: rotate(-90deg);
	font-size: 10px;
	color: #999999;
}

li.spacer {
	border-left: 1px solid #cccccc;
	line-height: 1px;
	height: 10px;
	margin-left: 7px;
	margin-right: 7px;
}

.iconfont {
	position: absolute;
	right: 5px;
	top: 10px;
	width: 12px;
	height: 12px;
	line-height: 12px;
}

/* 
#rightmenu li a:link {
	color: #999999;
}

#rightmenu lia.red {
	color: red;
}

#rightmenu lia:visited {
	color: #999999;
}

#rightmenu lia:hover {
	color: red;
} */
#header {
	/* border: 1px solid black; */
	width: 100%;
	height: 140px;
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #ddd;
}

#searchbox {
	width: 1190px;
	height: 140px;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	/* border: 1px solid purple; */
}

#inputbox {
	width: 810px;
	height: 140px;
	/* border: 1px solid blue; */
	display: flex;
	flex-direction: column;
	align-items: center;
}

#input {
	width: 810px;
	height: 100px;
	/* padding: 1px 2px 3px 4px; */
	/* border: 1px solid green; */
	display: flex;
	flex-direction: column;
	/* float: left; */
	justify-content: center;
	/* align-items: start; */
	padding-left: 15px;
	padding-top: 10px;
}

#searchinputbox {
	width: 700px;
	height: 42px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 55px;
	margin-right: 55px;
	overflow: visible;
}

#searchinput {
	width: 546px;
	height: 33px;
	border: 2px solid #e2231a;
	display: flex;
	float: left;
	flex-direction: row;
}

#searchinput input {
	position: relative;
	left: 0;
	padding: 2px 10px 3px 10px;
	width: 490px;
	height: 26px;
	border: 1px solid transparent;
	line-height: 26px;
	font-size: 13px;
}

#searchinput input:focus {
	outline: none;
}

#searchinput button {
	width: 58px;
	height: inherit;
	border: none;
	background-color: #e1251b;
	font-size: 20px;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s;
}

#searchinput button:hover {
	background-color: #c81623;
	transition: all 0.3s;
}

button img {
	height: 20px;
}

#myshopingcarbox {
	/* border: 1px solid purple; */
	/* height: 40px; */
	/* margin-top: 20px;
	margin-bottom: 20px; */
	width: 140px;
	display: flex;
	flex-direction: column;
	align-items: end;
	/* justify-content: end; */
	/* overflow: visible; */
}

#myshopingcar {
	position: relative;
	z-index: 40;
	width: 132px;
	height: 36px;
	margin-left: 18px;
	width: 130px;
	height: 34px;
	background-color: #fff;
	text-align: center;
	align-items: center;
	line-height: 34px;
	border: 1px solid #eeeeee;
}

#myshopingcar a {
	color: #e1251b;
	font-size: 12px;
}

#myshopingcardrop {

	position: relative;
	/* z-index: 9999999999; */
	z-index: 31;
	/* margin-left: auto; */
	right: 0px;
	top: 0px;
	width: 310px;
	height: 71px;
	/* border: 1px solid #e2231a;
	background-color: #fff; */
	box-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
	display: none;

}

#myshopingcarbox:hover #myshopingcar,
#myshopingcardrop {
	top: 36px;
	background-color: #fff;
	border: 1px solid #e2231a;
	/* border-block-color: #fff; */
	/* margin-top: 1px;
	margin-bottom: 1px; */
}

#myshopingcarbox:hover #myshopingcar {
	border-color: #e2231a;
	/* border-top: px; */
	/* margin-top: -2px; */
	border-bottom: 2px solid;
	border-bottom-color: #ffffff;
	margin-bottom: -1px;
}

#myshopingcarbox:hover #myshopingcardrop {
	/* margin-top: -1px; */
	/* margin: 1px; */
	/* margin-top: 1px; */
	display: block;
}


/*
#myshopingcar:hover {
	border-color: #e2231a;
	border-bottom-color: #fff;
}


#myshopingcar:hover #myshopingcardrop {
	margin-top: -1px;
	display: block;

} */

#searchhotwords {
	width: 550px;
	margin-left: 55px;
}

#searchhotwords a {
	width: 48px;
	height: 20px;
	margin-right: 10px;
	white-space: nowrap;
	color: #999999;
	text-decoration: none;
	font-size: 12px;
	margin-right: 5px;

}

#searchhotwords a:hover {
	color: #e1251b;
}

#searchlist {
	height: 40px;
	/* border: 1px solid red; */
	width: 810px;
	margin: 0;
}

#rightad {
	width: 190px;
	height: 120px;
}

#emptylogo {
	/* border: 1px solid black; */
	width: 190px;
	height: 120px;
}

#searchlist {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#searchlist li {
	margin-left: 10px;
	margin-right: 10px;
}

#searchlist li a {
	font-size: 15.5px;
	color: #333333;
}

#searchlist li a:hover {
	color: #c81623;
}

#main {
	/* border: 1px solid; */
	/* width: 61.9791666666%; */
	width: 1190px;
	height: 470px;
	margin-top: 10px;
	/* padding: -1px; */
	display: flex;
	flex-direction: row;
	/* float: left; */
}

#classify {
	/* border: 1px solid red; */
	/* margin: -1px; */
	margin-right: 10px;
	width: 190px;
	/* margin-right: 10px; */
	height: inherit;
	background-color: #fefefe;

}

#classify ul {
	width: 190px;
	height: 450px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.classify_menu_item {
	width: 172px;
	height: 25px;
	padding-left: 18px;
	margin: 0;
	float: left;
	text-align: center;
	/* justify-content: center; */
	align-items: center;
	transition: all 0.125s;
}

.classify_menu_item:hover {
	background-color: #d9d9d9;
	transition: all 0.125s;

}

.classify_menu_item a {
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: #333333;
	height: 19px;
	width: 0 auto;
}

.classify_menu_item a:hover {
	color: #c81623;
}

.classify_menu_item span {
	font-size: 12px;
	color: #636363;
	padding-left: 2px;
	padding-right: 2px;
	width: auto;
	height: auto;
}

#mainpictures {
	/* border: 1px solid blue;
	margin: -1px; */
	margin-right: 10px;
	width: 790px;
	height: inherit;
}

#user {
	/* border: 1px solid green;
	margin: -1px; */
	margin-right: 10px;
	height: inherit;
	width: 190px;
}