*{
	margin: 0px;
	padding: 0px;
}
#header{
	width: 100%;
	height:60px;
	border: 1px solid black;
	list-style: none;
	background-color: antiquewhite;
	text-align: center;
	margin-top: 0px;
	color: #999;
}
.header_nav1 li{
	width: 200px;
	height: 10px;
	line-height: 30px;
	text-align: inherit;
	
}
.header_nav2 li{
	margin-top: 20px;
	font-size: 12px;
	color: #999;
}
 
.logo_1{
	float: left;
	display: flex;
	position: relative;
	text-align: justify;
	list-style: none;
}
.logo_1 li{
	list-style: none;
	text-align: right;
	margin-top:60px;
}
#main{
	width: 100%;
	height: 130px;
	margin: 0px auto;
}
.links{
	widows: 40px;
	height: 100px;
	margin: 0% auto;
	margin-right: 5px;
	list-style:none;
	text-align: center;
	margin-top: 510px;
	font-size: 12px;
}
.copyright{
	text-align: center;
}
a{
	color:#000000;
	text-decoration: none;
}
a:hover{
	color: red;
}
.back{
	display: flex;
	background: url("image/images/adv4.jpg") no-repeat 20px -60px;
	position: absolute;
	top: 180px;
	width: 100%;
	height: 500px;
}